<html lang="en">
 <head>
  <title>
   What Languages Fix
  </title>
 </head>
 <body>
  <h1>
   What Languages Fix
  </h1>
  <h2>
   <p align="justif">
    Kevin Kelleher suggested an interesting way to compare programming
languages: to describe each in terms of the problem it
fixes.  The surprising thing is how many, and how well, languages can be
described this way.
   </p>
   <p>
    <p align="left">
     <b>
      Algol:
     </b>
     Assembly language is too low-level.
    </p>
    <h3>
     Pascal:
     Algol doesn't have enough data types.
    </h3>
   </p>
   <h3>
    Modula:
    Pascal is too wimpy for systems programming.
   </h3>
  </h2>
  <p>
   <!-- <b>Python:</b> Modula-3 is scary.
-->
   <b>
    Simula:
   </b>
   Algol isn't good enough at simulations.
  </p>
  <h3>
   Smalltalk:
   Not everything in Simula is an object.
   <h3>
    Fortran:
    Assembly language is too low-level.
    <h3>
     Cobol:
     Fortran is scary.
     <h3>
      PL/1:
      Fortran doesn't have enough data types.
      <h3>
       Ada:
       Every existing language is missing something.
       <h3>
        Basic:
        Fortran is scary.
        <h3>
         APL:
         Fortran isn't good enough at manipulating arrays.
         <h3>
          J:
          APL requires its own character set.
          <h3>
           C:
           Assemby language is too low-level.
           <h3>
            C++:
            C is too low-level.
            <h3>
             Java:
             C++ is a kludge.  And Microsoft is going to crush us.
             <h3>
              C#:
              Java is controlled by Sun.
              <!--
<b>Javascript:</b> Java is scary. -->
              <h3>
               Lisp:
               Turing Machines are an awkward way to describe computation.
               <h3>
                Scheme:
                MacLisp is a kludge.
                <h3>
                 T:
                 Scheme has no libraries.
                 <h3>
                  Common Lisp:
                  There are too many dialects of Lisp.
                  <h3>
                   Dylan:
                   Scheme has no libraries, and Lisp syntax is scary.
                   <p>
                    <!-- <b>Curl:</b> Lisp syntax is scary, and XML is redundant.<b>Arc:</b> Scheme has no libraries, and both could be denser.
-->
                    <b>
                     Perl:
                    </b>
                    Shell scripts/awk/sed are not enough like programming languages.
                   </p>
                   <h3>
                    Python:
                    Perl is a kludge.
                    <h3>
                     Ruby:
                     Perl is a kludge, and Lisp syntax is scary.
                     <h3>
                      Prolog:
                      Programming is not enough like logic.
                      <p>
                      </p>
                      <p>
                       <!-- There are a lot of languages I haven't been able to figure out
how to describe this way.   Suggestions would be appreciated about any languages missing
from the list.What I'm looking for is not exactly what
motivated the language designer (Smalltalk was originally intended
for children) but what niche the language first lodged in.  What was
the appeal of the language to its first users?
-->
                      </p>
                      <p>
                       This essay was originally published at
                       <a href="http://www.paulgraham.com/fix.html?utm_source=pgebook">
                        paulgraham.com
                       </a>
                       <p>
                       </p>
                      </p>
                     </h3>
                    </h3>
                   </h3>
                  </h3>
                 </h3>
                </h3>
               </h3>
              </h3>
             </h3>
            </h3>
           </h3>
          </h3>
         </h3>
        </h3>
       </h3>
      </h3>
     </h3>
    </h3>
   </h3>
  </h3>
 </body>
</html>